.output
{
    border-radius:5px;   
    background-color: lightgray;
    text-align: center;
    font-size: 130px;
    font-weight: bold;
    padding-top:40px;
    padding-bottom:40px;
   
    
    
}
.c
{
    margin-top:150px
}
.b
{
    margin-left:540px;
    margin-top:5px
}

