body{
    background-image: url("bg.webp");
    background-repeat: no-repeat;
    background-size: 90%;
}
.output
{
    border-radius:5px;   
    
    text-align: center;
    font-size: 130px;
    font-weight: bold;
    padding-top:40px;
    padding-bottom:40px;
    font-style: italic;
}
.c
{
    margin-top:150px
}
.b
{
    margin-left:540px;
    margin-top:5px
}

